.notice
  %p#notice= notice

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center;' }
  %h1 Manager

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  %h3 Full name
  %p= @admin.full_name

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Email
  %p= @admin.email

%section.centered-section{ style: 'display: flex; justify-content: center; align-items: center; margin-top: 40px;' }
  = link_to 'Back', adminviews_path, class: 'btn btn-secondary'
  |
  = link_to 'Edit', edit_adminview_path(@admin), class: 'btn btn-success'

