= form_for @state do |f|
  - if @state.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            =t('application.can_not_be_saved')#Falta traduccion
          %ul
            - @state.errors.each do |error|
              %li= error.full_message

  .form-group.mx-4
    = f.label :ontime, class: "form-label required"
    .div.w-25 
      = f.number_field :ontime, step: 1, autofocus: true, class: "form-control"
  
  .form-group.mx-4
    = f.label :overtime, class: "form-label required"
    .div.w-25 
      = f.number_field :overtime, step: 1, autofocus: true, class: "form-control"
  
  .form-group.mx-4
    = f.label :late, class: "form-label required"
    .div.w-25 
      = f.number_field :late, step: 1, autofocus: true, class: "form-control"

  .row.mt-4
    .offset-3.col-3
      = link_to 'back', stateviews_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag 'save', class: "btn btn-outline-success btn-block"
