.notice
  %p#notice= notice

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center;' }
  %h1 Time States

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  %h3 On time
  %p= @state.ontime

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Over time
  %p= @state.overtime

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Late
  %p= @state.late

%section.centered-section{ style: 'display: flex; justify-content: center; align-items: center; margin-top: 40px;' }
  = link_to 'Back', stateviews_path, class: 'btn btn-secondary'
  |
  = link_to 'Edit', edit_stateview_path(@state), class: 'btn btn-success'
