%h1 Listing orders

%h2 Search
= form_tag orderviews_path, method: :get do
  .form-group.row
    = label_tag :client_name, 'Client Name', class: 'col-md-2 col-form-label'
    .col-md-8
      = text_field_tag :client_name, params[:client_name], class: 'form-control'

  .form-group.row
    = label_tag :order_state, 'Order State', class: 'col-md-2 col-form-label'
    .col-md-8
      = select_tag :order_state, options_for_select(Order.order_states.keys.map { |key| [key.humanize, key] }, params[:order_state]), include_blank: true, class: 'form-control'

  .form-group.row
    = label_tag :start_date, 'Start Date', class: 'col-md-2 col-form-label'
    .col-md-8
      = date_field_tag :start_date, params[:start_date], class: 'form-control'

  .form-group.row
    = label_tag :end_date, 'End Date', class: 'col-md-2 col-form-label'
    .col-md-8
      = date_field_tag :end_date, params[:end_date], class: 'form-control'

  .form-group.row
    .col-md-8.offset-md-4
      = submit_tag 'Search', class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Client
      %th Order time
      %th Order date
      %th Order State
      %th
      %th Actions
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.client.full_name
        %td= order.order_time
        %td= order.order_date
        %td= order.order_state
        %td= link_to 'Show', orderview_path(order), class: 'btn btn-primary'
        %td= link_to 'Modify Order State', edit_orderview_path(order), class: 'btn btn-danger'

%br