.notice
  %p#notice= notice

%section
  %h3 Client:
  %p= @order.client.full_name

%section
  %h3 Order Time:
  %p= @order.order_time

%section
  %h3 Order Date:
  %p= @order.order_date

%section
  %h3 Order State:
  %p= @order.order_state

%section.actions
  = link_to 'Back', orderviews_path, class: 'btn btn-secondary'
  |
  = link_to 'Edit', edit_orderview_path(@order), class: 'btn btn-primary'
  
