%h1 Listing clients

%table.table.table-striped
  %thead
    %tr
      %th Full name
      %th Address
      %th Email
      %th Actions

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.full_name
        %td= client.address
        %td= client.email
        %td= client.client_state
        %td= link_to 'Show', clientview_path(client), class: 'btn btn-primary'
        %td= link_to 'Modify State', edit_clientview_path(client), class: 'btn btn-danger'

%br
