.notice
  %p#notice= notice

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center;' }
  %h1 Client

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  %h3 Full name
  %p= @client.full_name

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Address
  %p= @client.address

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Email
  %p= @client.email

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 State
  %p= @client.client_state

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  = link_to 'Back', clientviews_path, class: 'btn btn-secondary'
