.notice
  %p#notice= notice

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center;' }
  %h1 Chef

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  %h3 Full name
  %p= @chef.full_name

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Email
  %p= @chef.email

%section.centered-section{ style: 'display: flex; justify-content: center; align-items: center; margin-top: 40px;' }
  = link_to 'Back', chefviews_path, class: 'btn btn-secondary'
  |
  = link_to 'Edit', edit_chefview_path(@chef), class: 'btn btn-success'
