%h1 Listing dishes

= form_tag dishviews_path, method: :get do
  .form-group.row
    .col-md-6
      = text_field_tag :search, params[:search], placeholder: 'Search by dish name or description', class: 'form-control'
    .col-md-6
      = submit_tag 'Search', class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Dish name
      %th Description
      %th Price
      %th Dish state
      %th Show
      %th Edit
      %th Delete

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= dish.dish_name
        %td= dish.description
        %td= dish.price
        %td= dish.dish_state
        %td= link_to 'Show', dishview_path(dish), class: 'btn btn-primary'
        %td= link_to 'Edit', edit_dishview_path(dish), class: 'btn btn-primary'
        %td= button_to 'Delete', dishview_path(dish), method: :delete, class: "btn btn-danger"

%br

= link_to 'New Dish', new_dishview_path, class: 'btn btn-primary mr-2'
