.notice
  %p#notice= notice

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center;' }
  %h1 Dish

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 40px;' }
  %h3 Dish name
  %p= @dish.dish_name

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Description
  %p= @dish.description

%section.centered-section{ style: 'display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;' }
  %h3 Price
  %p= @dish.price

%section.centered-section{ style: 'display: flex; justify-content: center; align-items: center; margin-top: 40px;' }
  = link_to 'Back', dishviews_path, class: 'btn btn-secondary'
  |
  = link_to 'Edit', edit_dishview_path(@dish), class: 'btn btn-success'
  

